<!DOCTYPE html>
<html lang="en">
<head>
    <title>WBS</title>
    <link rel="stylesheet" type="text/css" href="wbs.css">
</head>
<body>


<div class="container-table100">
    <div class="table100">
        <table data-vertable="ver1">
            <thead>
            <tr>
                <!-- FBS -->
                <th class="newsectionnext " colspan="10">Summary</th>

                <!-- WBS -->
                <th class="newsectionnext" colspan="4">Details</th>

                <!-- Initial plan -->
                <th class="newsectionnext" colspan="6">Initial plan</th>

                <!-- Current plan -->
                <th class="" colspan="3">Current plan</th>

                <!-- Related issues -->
                <!--<th class="newsection" colspan="4">Related issues</th>-->

                <!-- Calculated Summary -->
                <!--Calculated Summary</th>-->

                <!-- Checklist -->
                <!--<th class="newsection" colspan="4">Checklist</th>-->

                <!-- Planning -->
                <!--<th class="newsection" colspan="8">Closed sprints</th>-->
            </tr>
            </thead>
            <thead>
            <tr class="rowWBS head">
                <!-- FBS -->
                <th class="narrow">Type</th>
                <th class="narrow">ID</th>
                <th class="narrow">Status</th>
                <th class="narrow">FBS Level</th>
                <th class="narrow">FBS Path</th>
                <th class="narrow">FBS Level 1</th>
                <th class="narrow">FBS Level 2</th>
                <th class="narrow">FBS Level 3</th>
                <th class="narrow">FBS Level 4+</th>
                <th class="wide newsectionnext">FBS/WBS Title</th>

                <!-- WBS -->
                <th class="">LOM Relation</th>
                <th class="">Team</th>
                <th class="narrow">Components</th>
                <th class="narrow newsectionnext">Description</th>

                <!-- Initial plan -->
                <th class="">PERT Opt</th>
                <th class="">PERT Real</th>
                <th class="">PERT Pess</th>
                <th class="">PERT Estimation (calculated)</th>
                <th class="">Original est.</th>
                <th class="newsectionnext">Sprint</th>

                <!-- Current plan -->
                <th class="">Assignee</th>
                <th class="">Spent time</th>
                <th class="">Remaining est.</th>

                <!-- Related issues -->
                <!--<th class="newsection">Risks</th>
                <th class="">Problems</th>
                <th class="">Dependencies</th>
                <th class="">Assumptions</th>
                -->
                <!-- Calculated Summary -->
                <!--<th class="newsection">Starts at</th>
                <th class="">Ends at</th>
                <th class="">Risk</th>
                <th class="">Status</th>
                <th class="">RTE</th>
                -->
                <!-- Checklist -->
                <!--<th class="newsection"><a title="Calculated status versus actual">Status</a></th>
                <th class=""><a title="Calculated remainings. original">Estimate</a></th>
                <th class=""><a title="Tasks in backlog no release set, previous sprints,etc.">Not planned</a></th>
                <th class=""><a title="If current plan fits to deadline sprint">Deadline</a></th>
                -->

                <!-- Planning -->
                <!--<th class="newsection">Closed sprints</th>
                <th class="">Empty sprints</th>
                <th class="">Sprint 20</th>
                <th class="">Sprint 21</th>
                <th class="">Sprint 22</th>
                <th class="">Sprint 23</th>
                <th class="">Future sprints</th>
                <th class="">Backlog</th>
                -->
            </tr>
            </thead>
            <tbody>

            {# WBS Element Row start #}
            {% for issue in param_wbsentry %}
            {% set issuetype = issue.issuetype%}
            <tr class="row{% if issuetype in issue.non_wbstypes_mapping %}{{ issue.non_wbstypes_mapping[issuetype] }}{% else %}{{ 'WBS' }}{% endif %}">
                <!-- FBS -->
                <td class="narrow">{{ issuetype }}</td>
                <td class="narrow"><a href="{{ param_serverbase }}/browse/{{ issue.key }}">{{ issue.key }}</a></td>
                <td class="narrow">{{ issue.status }}</td>
                <td class="narrow"><a title="{{ issue.path_builder_level|striptags|escape }}">{{ issue.path_builder_level|escape }}</a></td>
                <td class="narrow"><a title="{{ issue.path_builder_build|striptags|escape }}">{{ issue.path_builder_build|escape }}</a></td>
                <td class="narrow"><a title="{{ issue.path_builder_first|striptags|escape }}">{{ issue.path_builder_first|escape }}</a></td>
                <td class="narrow"><a title="{{ issue.path_builder_second|striptags|escape }}">{{ issue.path_builder_second|escape }}</a></td>
                <td class="narrow"><a title="{{ issue.path_builder_third|striptags|escape }}">{{ issue.path_builder_third|escape }}</a></td>
                <td class="narrow"><a title="{{ issue.path_builder_fourth|striptags|escape }}">{{ issue.path_builder_fourth|escape }}</a></td>
                <td class="key newsectionnext">{{ issue.summary }}</td>

                <!-- WBS -->
                <td class="">{% if issuetype == "Epic" %}{{ issue.epic_category }}{% endif %}</td>
                {% set components = issue.components %}
                <td class="">{{ issue.team(components) }}</td>
                <td class="narrow">{{ components }}</td>
                <td class="narrow"><a title="{{ issue.description|striptags|escape }}">{{ issue.description|striptags|escape|truncate(40) }}</a></td>

                <!-- Initial plan -->
                {% set perto = issue.perto %}
                <td class="newsection">{% if perto != None %}{{ perto }}{% endif %}</td>
                {% set pertrm = issue.pertrm %}
                <td class="">{% if pertrm != None %}{{ pertrm }}{% endif %}</td>
                {% set pertp = issue.pertp %}
                <td class="">{% if pertp != None %}{{ pertp }}{% endif %}</td>
                <td class="">{% if issue.pert_calculated  != None %}{{ issue.pert_calculated }}{% endif %}</td>

                {% set original = issue.original|float / 60 / 60 %}
                <td class="">{% if original != 0 %}{{ "%.2f" % original }} hours{% endif %}</td>

                <td class="newsectionnext">{{ issue.lastsprint}}</td>

                <!-- Current plan -->
                <td class="">{{ issue.assignee }}</td>

                {% set timespent = issue.timespent|float / 60 / 60 %}
                <td class="">{% if timespent != 0 %}{{ "%.2f" % timespent }} hours{% endif %}</td>

                {% set timeestimate = issue.timeestimate|float / 60 / 60 %}
                <td class="">{% if timeestimate != 0 %}{{ "%.2f" % timeestimate }} hours{% endif %}</td>

                <!-- Related issues -->
                <!--<td class="newsection">4 <img class="icon" src="highest.png"/>. 3 <img class="icon" src="higher.png"/>.
                    2 <img class="icon" src="lower.png"/>. 3 <img class="icon" src="lower.png"/>
                </td>
                <td class="">2 <img class="icon" src="highest.png"/>. 1 <img class="icon" src="lower.png"/></td>
                <td class="">4 <img class="icon" src="check_nok.png"/>. 2 <img class="icon" src="check_ok.png"/></td>
                <td class="">3 <img class="icon" src="check_nok.png"/>. 4 <img class="icon" src="check_ok.png"/></td>
                -->
                <!-- Calculated Summary -->
                <!--<td class="newsection">ARC Sprint 19 - CW30-32</td>
                <td class="">ARC Sprint 23 - CW34-35</td>
                <td class="">^^</td>
                <td class="">Analyzed</td>
                <td class="">1d</td>
                -->
                <!-- Checklist -->
                <!--<td class="newsection"><img class="icon" src="check_warn.png"/></td>
                <td class=""><img class="icon" src="check_nok.png"/></td>
                <td class=""><img class="icon" src="check_warn.png"/></td>
                <td class=""><img class="icon" src="check_nok.png"/></td>
                -->
                <!-- Checklist -->
                <!--<td class="newsection">15 issues</td>
                <td class="">3 issues</td>
                <td class="">1 issues</td>
                <td class="">6 issues</td>
                <td class="">4 issues</td>
                <td class="">0 issues</td>
                <td class="">5 issues</td>
                <td class="">1 issues</td>
                -->
            </tr>
            {# WBS Element Row end #}
            {% endfor %}

            </tbody>
        </table>
    </div>

</div>

<div>
</div>

</body>
</html>