<!DOCTYPE html>
<html lang="en">
<head>
    <title>CustJiraComparator</title>
    <link rel="stylesheet" type="text/css" href="jira_comparator.css">
</head>
<body>


<table>
    <thead>
    <tr>
        <!-- Info -->
        <th class="newsectionnext" colspan="6">Details</th>
        <!-- Custom Jira Types -->
        <th class="newsectionnext " colspan="8">Jira Tree</th>
    </tr>
    </thead>
    <thead>
    <tr class="rowWBS head">
        <!-- Info -->
        <th class="narrow">Status</th>
        <th class="narrow">Jira Status</th>
        <th class="narrow">Sprint</th>
        <th class="narrow">Jira Sprint</th>
        <th class="narrow">Assignee</th>
        <th class="narrow">Jira Assignee</th>
        <!-- Custom Jira Types -->
        <th class="narrow">Epic</th>
        <th class="narrow">Jira High-Level Feature</th>
        <th class="narrow">Capability</th>
        <th class="narrow">Jira Feature_1lvl</th>
        <th class="narrow">Feature</th>
        <th class="narrow">Jira Feature_2lvl</th>
        <th class="narrow">Story</th>
        <th class="narrow">Jira Epic</th>
    </tr>
    </thead>
    <tbody>

    <tr>
    {% for issue in cust_result %}
        {% if issue|length >0 %}
            <!-- Info -->
            <td>{{ issue[-1].getFieldAsString('status') }}</td>
            {% if issue[-1].compare_jira %}
                <td>{{ issue[-1].compare_jira.data.getFieldAsString('status') }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ issue[-1].getFieldAsString('sprint') }}</td>
            {% if issue[-1].compare_jira %}
                <td>{{ issue[-1].compare_jira.data.getFieldAsString('sprint') }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ issue[-1].getField('assignee').displayName }}</td>
            {% if issue[-1].compare_jira %}
                <td>{{ issue[-1].compare_jira.data.getField('assignee').displayName }}</td>
            {% else %}
                <td></td>
            {% endif %}

            <!-- Custom Jira Types -->
            {% for i in issue %}
                {% if i is not string %}
                    {% if not i.exist %}
                        <td class="notexist"><a href="https://group-cip.audi.de/jira/browse/{{ i.original.key  }}">{{ i.getField('summary') }}</a></td>
                        <td class="notexist"></td>
                    {% elif i.exist == 'partly' %}
                        <td class="partlyexist"><a href="https://group-cip.audi.de/jira/browse/{{ i.original.key  }}">{{ i.getField('summary') }}</a></td>
                        {% if i.compare_jira %}
                        <td class="partlyexist"><a href="{{ param_serverbase }}/browse/{{ i.compare_jira.data.getField('key') }}">{{ i.compare_jira.data.original.fields.summary }} </a></td>
                        {% else %}
                        <td class="partlyexist">{{ i.getField('summary') }}</td>
                        {% endif %}
                    {% else %}
                        <td class="exist"><a href="https://group-cip.audi.de/jira/browse/{{ i.original.key  }}">{{ i.getField('summary') }}</a></td>
                        <td class="exist"><a href="{{ param_serverbase }}/browse/{{i.compare_jira.data.getField('key') }}">{{ i.compare_jira.data.original.fields.summary}} </a></td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>